<nav class="bg-gray-800 text-white p-4 mb-6">
  <ul class="flex gap-4">
    <li>
      <a href="/solutions/projects" class="<%= (page == '/solutions/projects') ? 'font-bold underline' : '' %>">
        Projects
      </a>
    </li>
    <li>
      <a href="/solutions/addProject" class="<%= (page == '/solutions/addProject') ? 'font-bold underline' : '' %>">
        Add Project
      </a>
    </li>
  </ul>
</nav>
