<%- include('partials/navbar', { page: '' }) %>

<div class="text-center mt-20">
  <h1 class="text-5xl font-bold text-red-600">500</h1>
  <p class="mt-4 text-xl">Internal Server Error</p>
  <p class="text-gray-600 mt-2"><%= message %></p>
  <a href="/" class="mt-6 inline-block text-blue-500 underline">Go Home</a>
</div>
