<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div class="container mx-auto ">
        <div class="hero bg-base-200 h-[30vh]">
            <div class="hero-content text-center">
                <div class="max-w-md">
                    <h1 class="text-5xl font-bold">All about me</h1>

                </div>
            </div>
        </div>
        <%- include("partials/navbar", {page: "/about"}) %>

            <%- include("partials/navbar", {page: "/about"}) %>
        </div>

        <div class="container mx-auto">
            <div class=" bg-base-200 min-h-auto p-8">
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-center">

                    <img src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp"
                        class="w-full max-w-sm mx-auto rounded-lg shadow-2xl" />

                    <div>
                        <h1 class="text-4xl font-bold">All about me</h1>
                        <p class="py-6">
                            I am currently a CPP student in Seneca College.
                        </p>
                        <h1>hobbies</h1>
                        <p>Cs</p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</body>

</html>
