<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <a href="/solutions/projects?sector=Land Sinks">Land Sinks</a>
    <a href="/solutions/projects?sector=Electricity">Electricity</a>
    <a href="/solutions/projects?sector=Transportation">Transportation</a>
    <a href="/solutions/projects?sector=Food, Agriculture, and Land Use">Food</a>
    <a href="/solutions/projects?sector=Industry">Industry</a>
    <a href="/solutions/projects">All Projects</a>

    <h1><strong>Explore the Projects</strong></h1>
    <p>Climate solutions from around the world</p>
</body>
</html>
