<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Projects</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Project List</h1>
  <ul>
    <% if (projects.length > 0) { %>
      <% projects.forEach(project => { %>
        <li>
          <strong><%= project.title %></strong><br>
          <%= project.description %><br>
          <small>Sector: <%= project.sector_name %></small>
        </li>
      <% }) %>
    <% } else { %>
      <li>No projects found.</li>
    <% } %>
  </ul>
</body>
</html>
